<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head :: head('Home')"></head>

<body>
    <header>
      <div th:replace="~{fragments/navbar :: navbar('Zio Schiano Pizzeria')}"></div>
    </header>

    <main>
        <div class="text-center mt-4">
            <h1>BENVENUTO DA <strong>ZIO SCHIANO PIZZERIA</strong>!</h1>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: scripts}">
        <!-- Scripts -->
    </th:block>
</body>

</html>
