<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head th:replace="~{fragments/head :: head('Modifica Pizza')}"></head>

<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar('Zio Schiano Pizzeria')}"></div>
    </header>

    <main class="container">
        <section class="title row">
            <div class="col-12">
                <h1 class="text-center fw-bold mb-3">
                    Modificando [[${offerta.pizza.nome}]]
                </h1>
            </div>
        </section>

        <section class="offerte row">
            <div class="col-12 text-center">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="col-12">
                <form th:action="@{/offerte/{id}(id=${offerta.id})}" method="POST" th:object="${offerta}">
                    <input type="hidden" th:field="*{id}" />
                
                    <!-- ! Titolo offerta -->
                    <div class="mb-3">
                        <label for="titolo" class="form-label"><strong>Titolo Offerta:</strong></label>
                        <input id="titolo" type="text" class="form-control mb-3" th:field="*{titolo}" th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
                            <ul><li th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></li></ul>
                        </div>
                    </div>
                
                    <!-- ! Pizza associata -->
                    <div class="mb-3">
                        <label for="pizza" class="form-label"><strong>Pizza:</strong></label>
                        <select id="pizza" class="form-select" th:field="*{pizza}" required>
                            <option th:each="pizza : ${pizze}" th:value="${pizza.id}" th:text="${pizza.nome}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('pizza')}" class="invalid-feedback">
                            <ul><li th:each="err : ${#fields.errors('pizza')}" th:text="${err}"></li></ul>
                        </div>
                    </div>
             
                
                    <!-- ! Inizio offerta -->
                    <div class="mb-3">
                        <label for="offertaAddDate" class="form-label"><strong>Inizio Offerta:</strong></label>
                        <input id="offertaAddDate" type="date" class="form-control mb-3" th:field="*{offertaAddDate}" th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('offertaAddDate')}" class="invalid-feedback">
                            <ul><li th:each="err : ${#fields.errors('offertaAddDate')}" th:text="${err}"></li></ul>
                        </div>
                    </div>
                
                    <!-- ! Fine offerta -->
                    <div class="mb-3">
                        <label for="offertaRemoveDate" class="form-label"><strong>Fine Offerta:</strong></label>
                        <input id="offertaRemoveDate" type="date" class="form-control mb-3" th:field="*{offertaRemoveDate}" th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('offertaRemoveDate')}" class="invalid-feedback">
                            <ul><li th:each="err : ${#fields.errors('offertaRemoveDate')}" th:text="${err}"></li></ul>
                        </div>
                    </div>
                
                    <!-- ! Pulsanti -->
                    <div class="mb-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Aggiorna offerta</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </form>
                
            </div>
        </section>
    </main>

    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>
