<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Gestione Pizze')}"></head>

<body>
    <header>
        <div th:replace="~{fragments/navbar :: navbar('Zio Schiano Pizzeria')}"></div>
    </header>

    <main class="container">
        <section class="upper row">            <div class="col-12">
                <h1 class="card-title mb-4 p-4 text-center fw-bold">
                    Gestionale Offerte
                </h1>

                <div class="buttons mb-3 d-flex px-4 justify-content-end">
                    <a th:href="@{/offerte/create}" class="btn btn-primary">Crea nuova offerta speciale</a>
                </div>
            </div>
        </section>

        <section class="row pizze">
            <div class="col-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr th:each="offerta : ${offerte}" th:object="${offerta}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{pizza.nome}"></td>
                            <td th:text="*{pizza.descrizione}"></td>
                            <td th:text="*{pizza.prezzo} + ' €'"></td>
                            <td th:text="*{offertaAddDate}"></td>
                            <td th:text="*{offertaRemoveDate}"></td>
                            <td th:text="*{titolo}"></td> <!-- se vuoi tenerlo, aggiungi header -->
                            <td>
                                <a th:href="@{/offerte/{id}/edit(id=*{id})}" class="btn btn-success btn-sm">Modifica</a>
                                <form th:action="@{/offerte/delete/{id}(id=*{id})}" method="post" style="display:inline;">
                                    <button type="submit" onclick="return confirm('Sei sicuro di voler eliminare questa offerta?')">Elimina</button>
                                </form>
                        
                                <div class="modal fade" th:id="'delete-modal-' + *{id}" data-bs-backdrop="static"
                                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                    Eliminazione dell'offerta di
                                                    <strong>"[[*{pizza.nome}]]"</strong> aggiunto il <strong>"[[*{offertaAddDate}]]"</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Sei sicuro di voler eliminare questa pizza?
                                                    <strong>"[[*{pizza.nome}]]"</strong> offerta applicata il:
                                                    <em>[[*{offertaAddDate}]]</em> e id [[*{id}]]
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Chiudi</button>
                                                <form th:action="@{/offerte/delete/{id}(id=*{id})}" method="post" class="d-inline">
                                                    <button type="submit" class="btn btn-danger btn">Cancella</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>
